@model EmployeeRegisterDTO
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<!-- TO DO: ViewComponent'e bağla title la birlikte -->
<head>
    <title>Kayıt Ol</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="Avans Yönetim Projesi - Kullanıcılar avans talebinde bulunabilir.">
    <meta name="keywords" content="Avans, İstek, Onay, Kullanıcı, Proje">
    <meta name="author" content="BilgeAdam">

    <link rel="icon" href="~/dashboardkit/dist/assets/images/favicon.svg" type="image/x-icon">
    <link rel="stylesheet" href="~/dashboardkit/dist/assets/fonts/feather.css">
    <link rel="stylesheet" href="~/dashboardkit/dist/assets/fonts/fontawesome.css">
    <link rel="stylesheet" href="~/dashboardkit/dist/assets/fonts/material.css">
    <link rel="stylesheet" href="~/dashboardkit/dist/assets/css/style.css" id="main-style-link">
</head>

<body>
    <!-- [ auth-signup ] start -->
    <div class="auth-wrapper">
        <div class="auth-content">
            <div class="card">
                <div class="row align-items-center text-center">
                    <div class="col-md-12">
                        <div class="card-body">
                            <img src="~/dashboardkit/dist/assets/images/bilgeadamavans2.png" alt="" class="img-fluid mb-4">
                            <h4 class="mb-3 f-w-400">Kayıt Ol</h4>

                            @if (ViewData["RegisterError"] != null)
                            {
                                <div class="alert alert-danger" role="alert">
                                    @ViewData["RegisterError"]
                                </div>
                            }

                            <form method="post">
                                <div class="input-group mb-3 col-md-12">
                                    <span class="input-group-text"><i data-feather="user"></i></span>
                                    <input asp-for="Name" class="form-control" placeholder="Ad" required>
                                    <span asp-validation-for="Name" class="text-danger error-message"></span>
                                </div>
                                
                                <div class="input-group mb-3 col-md-12">
                                    <span class="input-group-text"><i data-feather="user"></i></span>
                                    <input asp-for="Surname" class="form-control" placeholder="Soyad" required>
                                    <span asp-validation-for="Surname" class="text-danger error-message col-md-12"></span>
                                </div>
                                <div class="input-group mb-3 col-md-12">
                                    <span class="input-group-text"><i data-feather="phone"></i></span>
                                    <input asp-for="PhoneNumber" class="form-control" placeholder="Telefon Numarası" required>
                                    <span asp-validation-for="PhoneNumber" class="text-danger error-message col-md-12"></span>
                                </div>
                                <div class="input-group mb-3 col-md-12">
                                    <span class="input-group-text"><i data-feather="mail"></i></span>
                                    <input asp-for="Email" class="form-control" placeholder="Eposta Adresi" required>
                                    <span asp-validation-for="Email" class="text-danger error-message col-md-12"></span>
                                </div>
                                <div class="input-group mb-3 col-md-12">
                                    <span class="input-group-text"><i data-feather="lock"></i></span>
                                    <input type="password" asp-for="Password" class="form-control" placeholder="Şifre" required>
                                    <span asp-validation-for="Password" class="text-danger error-message col-md-12"></span>
                                </div>
                                <div class="input-group mb-3 col-md-12">
                                    <span class="input-group-text"><i data-feather="lock"></i></span>
                                    <input type="password" asp-for="PasswordConfirm" class="form-control" placeholder="Şifre Tekrar" required>
                                    <span asp-validation-for="PasswordConfirm" class="text-danger error-message col-md-12"></span>
                                </div>

                                <div class="input-group mb-3 col-md-12">
                                    <label class="input-group-text" for="employeeSelect"><i data-feather="user"></i></label>
                                    <select asp-for="UpperEmployeeId" class="form-select" >
                                        <option value="0">Üstünüzü Seçiniz</option>
                                        @foreach (var employee in (List<EmployeeSelectDTO>)ViewBag.Employees)
                                        {
                                            <option value="@employee.Id">@employee.Name @employee.Surname</option>
                                        }
                                    </select>
                                    <span asp-validation-for="UpperEmployeeId" class="text-danger error-message col-md-12"></span>
                                </div>
                                
                                <div class="input-group mb-3 col-md-12">
                                    <label class="input-group-text" for="titleSelect"><i data-feather="user"></i></label>
                                    <select asp-for="TitleId" class="form-select" >
                                        <option value="0">Ünvan Seçiniz</option>
                                        @foreach (var title in (List<TitleSelectDTO>)ViewBag.Titles)
                                        {
                                            <option value="@title.Id">@title.TitleName</option>
                                        }
                                    </select>
                                    <span asp-validation-for="TitleId" class="text-danger error-message col-md-12"></span>
                                </div>

                                <div class="input-group mb-3 col-md-12">
                                    <label class="input-group-text" for="businessUnitSelect"><i data-feather="user"></i></label>
                                    <select asp-for="BusinessUnitId" class="form-select" >
                                        <option value="0">Birim Seçiniz</option>
                                        @foreach (var businessUnit in (List<BusinessUnitSelectDTO>)ViewBag.BusinessUnits)
                                        {
                                            <option value="@businessUnit.Id">@businessUnit.BusinessUnitName</option>
                                        }
                                    </select>
                                    <span asp-validation-for="BusinessUnitId" class="text-danger error-message col-md-12"></span>
                                </div>

                                <div class="form-group text-left mt-2">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                                        <label class="form-check-label" for="flexCheckChecked">
                                            <a href="#!">Üyelik sözleşmesini</a> kabul ediyorum.
                                        </label>
                                    </div>
                                </div>
                                <button class="btn btn-primary btn-block mb-4">Kayıt Ol</button>
                            </form>

                            <p class="mb-2">Zaten hesabınız var mı? <a href="~/Auth/Login" class="f-w-400">Giriş Yap</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- [ auth-signup ] end -->
    <!-- Required Js -->
    <script src="~/dashboardkit/dist/assets/js/vendor-all.min.js"></script>
    <script src="~/dashboardkit/dist/assets/js/plugins/bootstrap.min.js"></script>
    <script src="~/dashboardkit/dist/assets/js/plugins/feather.min.js"></script>
    <script src="~/dashboardkit/dist/assets/js/pcoded.min.js"></script>

</body>

</html>
