@model List<AdvanceHistorySelectDTO>
@{
    ViewData["Title"] = "Avans Talebi Tarihçesi";
    var advance = ViewData["Advance"] as AdvanceSelectDTO;
    string geriOdeme = "";
    int row = 0;
}

<div class="container col-md-12">
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-body">
                            <p class="card-text"><strong>Talep No:</strong> @advance.Id</p>
                            <p class="card-text"><strong>Talep Oluşturma Tarihi:</strong> @advance.RequestDate.Value.ToString("dd/MM/yyyy")</p>
                            <p class="card-text"><strong>Alınmak İstenen Tarih:</strong> @advance.DesiredDate.Value.ToString("dd/MM/yyyy")</p>
                            <p class="card-text"><strong>Proje:</strong> @advance.Project.ProjectName</p>
                            <p class="card-text"><strong>Açıklama:</strong> @advance.AdvanceDescription</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-body">
                            <p class="card-text"><strong>Talep Edilen Tutar:</strong> @Math.Round(advance.AdvanceAmount.Value, 0) TL</p>
                            <p class="card-text"><strong>Onaylanan Tutar:</strong> @Math.Round(Model.LastOrDefault().ApprovedAmount.Value, 0) TL</p>
                            <p class="card-text"><strong>Son Durumu:</strong> @Model.LastOrDefault().Status.StatusName</p>
                            <p class="card-text"><strong>Makbuz No:</strong> 
                                @if (advance.Receipts != null && advance.Receipts.Any(x => x.IsRefundReceipt == false))
                                {
                                    @advance.Receipts.FirstOrDefault(x => x.IsRefundReceipt == false).ReceiptNo;
                                }
                            </p>
                            <p class="card-text"><strong>Avans Geri Ödeme Durumu:</strong> 
                                @if (advance.Receipts != null && advance.Receipts.Any(x => x.IsRefundReceipt == true))
                                {
                                    geriOdeme = "Geri Ödeme Yapıldı";
                                }
                                else
                                {
                                    geriOdeme = "Geri Ödeme Yapılmadı";
                                }
                                @geriOdeme
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th scope="col">İşlem No</th>
                                <th scope="col">Durum</th>
                                <th scope="col">İşlem Zamanı</th>
                                <th scope="col">İşlemi Yapan</th>
                                <th scope="col">Sonraki Aşama Kullanıcısı</th>
                                <th scope="col">Sonraki Durum</th>
                                <th scope="col">Onaylanan Tutar</th>
                                <th scope="col">Ödeme Yapılacak Tarih</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                row = row +1;
                                <tr>
                                    <th scope="row">@row</th>
                                    <td>@item.Status.StatusName</td>
                                    <td>@item.Date</td>
                                    <td>@item.Transactor.Name @item.Transactor.Surname</td>
                                    <td>@item.Transactor.UpperEmployee.Name @item.Transactor.UpperEmployee.Surname</td>
                                    <td>@item.Transactor.UpperEmployee.Title.TitleDescription Onayına</td>
                                    <td>@Math.Round(item.ApprovedAmount.Value, 0) TL</td>
                                    <td>
                                        @if (advance.Payments != null && advance.Payments.Any() && advance.Payments.FirstOrDefault().FinanceManagerId == @item.TransactorId)
                                        {
                                            @advance.Payments.FirstOrDefault().DeterminedPaymentDate.Value.ToString("dd/MM/yyyy")
                                        }
                                    </td>
                                </tr>                               
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
