@model List<AdvanceSelectDTO>
@{
    ViewData["Title"] = "Onay Bekleyen Avans Talepleri Listesi";
}


<div class="container col-md-12">
    <div class="card">
        <div class="card-body table-border-style">
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Çalışanın Adı</th>
                            <th>Ünvanı</th>
                            <th>Birimi</th>
                            <th>Talep Durumu</th>
                            <th>Talep Oluşturma<br />Tarihi</th>
                            <th>Talep Tutarı</th>
                            <th>İstenilen Tarih</th>
                            <th>Proje</th>

                            @if (!User.IsInRole("Birim Müdürü"))
                            {
                                <th>Son Onaylayan</th>
                                <th>Son Onaylanan Ünvanı</th>
                                <th>Son Onaylanma Tarihi</th>
                                <th>Son Onaylanan Tutar</th>
                            }

                            <th>Detay</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.Employee.Name @item.Employee.Surname</td>
                                <td>@item.Employee.TitleId</td>
                                <td>@item.Employee.BusinessUnitId</td>
                                <td>Onay Bekliyor</td>
                                <td>@item.RequestDate</td>
                                <td>@item.AdvanceAmount</td>
                                <td>@item.DesiredDate</td>
                                <td>@item.ProjectId</td>

                                @if (!User.IsInRole("Birim Müdürü"))
                                {
                                    <td>@item.AdvanceHistories.FirstOrDefault().Transactor.Name @item.AdvanceHistories.FirstOrDefault().Transactor.Surname</td>
                                    <td>@item.AdvanceHistories.FirstOrDefault().Transactor.TitleId</td>
                                    <td>@item.AdvanceHistories.FirstOrDefault().Date</td>
                                    <td>@item.AdvanceHistories.FirstOrDefault().ApprovedAmount</td>
                                }

                                <td>
                                    <a asp-controller="Advance" asp-action="PendingAdvanceRequestDetails" asp-route-id="@item.Id"><i class="icon feather icon-edit f-16 text-success"></i></a>
                                </td>
                            </tr>
                        }
                       
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
