@model List<AdvanceHistorySelectDTO>
@{
    ViewData["Title"] = "Avans Talebi Tarihçesi";
    var advance = ViewData["Advance"] as AdvanceSelectDTO;
    string geriOdeme = "";
    int row = 0;
    string accountantState = "";
}

<style>
    .custom-card {
        width: 40%;
        margin: auto;
    }
</style>

<div class="container col-md-12">
    <div class="card">

        <div class="card-body">
            <div class="row">
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-body">
                            <p class="card-text"><strong>Talep No:</strong> @advance.Id</p>
                            <p class="card-text"><strong>Talep Oluşturma Tarihi:</strong> @advance.RequestDate.Value.ToString("dd/MM/yyyy")</p>
                            <p class="card-text"><strong>Alınmak İstenen Tarih:</strong> @advance.DesiredDate.Value.ToString("dd/MM/yyyy")</p>
                            <p class="card-text"><strong>Proje:</strong> @advance.Project.ProjectName</p>
                            <p class="card-text"><strong>Açıklama:</strong> @advance.AdvanceDescription</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-body">
                            <p class="card-text"><strong>Talep Edilen Tutar:</strong> @Math.Round(advance.AdvanceAmount.Value, 0) TL</p>
                            <p class="card-text"><strong>Onaylanan Tutar:</strong> @Math.Round(Model.LastOrDefault().ApprovedAmount.Value, 0) TL</p>
                            <p class="card-text"><strong>Son Durumu:</strong> @Model.LastOrDefault().Status.StatusName</p>
                            <p class="card-text">
                                <strong>Makbuz No:</strong>
                                @if (advance.Receipts != null && advance.Receipts.Any(x => x.IsRefundReceipt == false))
                                {
                                    @advance.Receipts.FirstOrDefault(x => x.IsRefundReceipt == false).ReceiptNo                                    
                                }
                            </p>
                            <p class="card-text">
                                <strong>Avans Geri Ödeme Durumu:</strong>
                                @if (advance.Receipts != null && advance.Receipts.Any(x => x.IsRefundReceipt == true))
                                {
                                    geriOdeme = "Geri Ödeme Yapıldı";
                                }
                                else
                                {
                                    geriOdeme = "Geri Ödeme Yapılmadı";
                                }
                                @geriOdeme
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-md-12 table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th scope="col">İşlem No</th>
                                <th scope="col">Durum</th>
                                <th scope="col">İşlem Zamanı</th>
                                <th scope="col">İşlemi Yapan</th>
                                <th scope="col">Sonraki Aşama Kullanıcısı</th>
                                <th scope="col">Sonraki Durum</th>
                                <th scope="col">Onaylanan Tutar</th>
                                <th scope="col">Ödeme Yapılacak Tarih</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                row = row + 1;
                                <tr>
                                    <th scope="row">@row</th>
                                    <td>@item.Status.StatusName</td>
                                    <td>@item.Date</td>
                                    <td>@item.Transactor.Name @item.Transactor.Surname</td>
                                    <td>@item.Transactor.UpperEmployee.Name @item.Transactor.UpperEmployee.Surname</td>
                                    <td>@item.Transactor.UpperEmployee.Title.TitleDescription</td>
                                    <td>@Math.Round(item.ApprovedAmount.Value, 0) TL</td>
                                    <td>
                                        @if (advance.Payments != null && advance.Payments.Any() && advance.Payments.FirstOrDefault().FinanceManagerId == @item.TransactorId)
                                        {
                                            @advance.Payments.FirstOrDefault().DeterminedPaymentDate.Value.ToString("dd/MM/yyyy")
                                        }
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>

                @if (User.IsInRole("Finans Müdürü"))
                {
                    <div class="card custom-card">

                        @if (ViewData["AmountError"] != null)
                        {
                            <div class="alert alert-danger" role="alert">
                                @ViewData["AmountError"]
                            </div>
                        }

                        <div class="card-body">
                            <form asp-action="AdvanceRequestSetDate" asp-controller="Advance" method="POST">
                                <h5 class="card-title">Uygun Görülen Ödeme Tarihi:</h5>
                                <div class="input-group date mb-1" id="datetimepicker" data-target-input="nearest">
                                    <input type="date" name="date" class="form-control datetimepicker-input" data-target="#datetimepicker" />
                                </div>
                                <input type="hidden" id="advanceId" name="advanceId" value="@advance.Id" required>
                                <input type="hidden" id="amounts" name="amounts" value="@Model.LastOrDefault().ApprovedAmount.Value" required>

                                <div class="d-flex justify-content-between">
                                    <button type="submit" class="btn btn-secondary">Formu Temizle</button>
                                    <button type="submit" class="btn btn-primary">Kaydet</button>
                                </div>
                            </form>

                        </div>
                    </div>
                }
                else if (User.IsInRole("Muhasebeci"))
                {
                    if (advance.Receipts.LastOrDefault() != null && advance.Receipts.LastOrDefault().IsRefundReceipt == true)
                    {
                        return;
                    }

                    @if (advance.Receipts.LastOrDefault() == null)
                    {
                        accountantState = "Avans Teslimi";
                    }
                    else
                    {
                        accountantState = "Geri Ödeme";
                        
                    }

                    <div class="card custom-card">
                        <div class="card-body">
                            <form method="post"  action="/Advance/AdvanceRequestReceipt">
                                <h5 class="card-title">@accountantState Makbuz No:</h5>
                            <div class="input-group mb-1">
                                    <input type="number" name="receiptNo" class="form-control" placeholder="Makbuz No" aria-label="Tutar" aria-describedby="basic-addon2">
                            </div>

                            <input type="hidden" id="advanceId" name="advanceId" value="@advance.Id" required>
                            <input type="hidden" id="accountantState" name="accountantState" value="@accountantState" required>
                                <input type="hidden" id="amounts" name="amounts" value="@Model.LastOrDefault().ApprovedAmount.Value" required>

                            <div class="d-flex justify-content-between">
                                <button type="submit" class="btn btn-primary">Kaydet</button>
                            </div>
                            </form>
                        </div>
                    </div>

                }
                else
                {
                    <div class="card custom-card">

                        @if (ViewData["AmountError"] != null)
                        {
                            <div class="alert alert-danger" role="alert">
                                @ViewData["AmountError"]
                            </div>
                        }

                        <div class="card-body">
                            <form method="post"  action="/Advance/PendingAdvanceRequest">
                            <h5 class="card-title">Uygun Görülen Tutar:</h5>
                            <div class="input-group mb-1">
                                    <input type="text" class="form-control" id="amount" name="amount" placeholder="Tutar" aria-label="Tutar" aria-describedby="basic-addon2">
                                <div class="input-group-append">
                                    <span class="input-group-text" id="basic-addon2">TL</span>
                                </div>
                            </div>
                                <input type="hidden" id="advanceId" name="advanceId" value="@advance.Id" required>
                                <input type="hidden" id="statusId" name="statusId" value="@Model.LastOrDefault().Status.Id" required>
                                <input type="hidden" id="amounts" name="amounts" value="@Model.LastOrDefault().ApprovedAmount.Value" required>

                            <div class="d-flex justify-content-between">
                                    <button type="submit" name="state" value="Reject" class="btn btn-secondary">Reddet</button>
                                    <button type="submit" name="state" value="Accept" class="btn btn-primary">Onayla</button>
                            </div>
                            </form>
                        </div>
                    </div>
                }



            </div>
        </div>
    </div>
</div>

